body {
  font-family: Arial, sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: normal;
  line-height: 160%;
  background-color: rgb(159, 154, 154);
  color: black;
}


main {
  margin: 0 auto;
  text-align: center;
  width: 100%;

}

section {
  min-height: 100vh;
  border-bottom: 2px solid #fdf1b1;

}

.header {
  height: 100vh;
  border-bottom: 2px solid #fdf1b1;
}

.header__top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 100%;
  margin: 0 auto;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  font-size: 24px;
  font-weight: 600;
  line-height: 130%;
  box-shadow: none;
  color: rgb(77, 155, 116);
}

.menu__item {
  border-bottom: 2px solid #fdf1b1;
  border-radius: 5px;
}

.menu__item:not(:last-child) {
  margin-right: 25px;
}

.menu__item:hover {
  cursor: pointer;
  box-shadow: 1px;
  color: rgb(46, 96, 71);
}

.header__title{
  display: flex;
  flex-direction: column;
  justify-content: center;
    height: 80vh;
    width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 800px;
  height: 100%;
  margin: 30px auto;
}


h1 {
  font-size: 26pt;
  line-height: 110%;
  font-style: verdana;
  text-shadow: 3px 3px 8px darkorange;
  text-align: center;
  color: white;
}

h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: blue;
  font-size: 24pt;
  font-style: verdana;
  text-shadow: 2px 5px 2px orange;
  text-align: center;
}

h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: blue;
  font-size: 18pt;
  font-style: verdana;
  text-shadow: 12px 6px 10px orange;
  text-align: center;
}

input {
  width: 100px;
  height: 30px;
  margin-right: 12px;
  border: none;
  background-color: rgb(236, 205, 149);
}

button {
  margin: auto 0;
  padding: 0 10px;
  min-width: 100px;
  min-height: 30px;
  border-radius: 10px;
  border-color: orange;
  color: red;
  background-color: rgb(231, 172, 63);
}

.message,
.form,
.result {
  margin: 10px;
  padding: 10px;
  border: 2px solid;
  border-color: orange;
}

.form {
  display: flex;
  justify-content: center;
  align-items: baseline;
  column-gap: 10px
}

.block {
  width: 600px;
  height: 300px;
  margin-bottom: 20px;
  background-color: aqua;
}

.text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-shadow: 12px 6px 10px orange;
  text-align: center;
}