* {
  box-sizing: border-box;
}

body {
  background-color: #dfd9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  justify-content: center;
  align-items: center;
}

.square {
  width: 10px;
  height: 10px;
  background-color: #ffff;
  margin: 1px;
  box-shadow: 0 0 2px #0000;
  transition: 2s ease;
}

.square:hover {
  transition-duration: 0ms;
}