html {
  /* scroll-behavior: smooth; */
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: normal;
  line-height: 160%;
  background-color: #ffffff;
  color: ##333333;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.section-style {
  min-height: 100vh;
  padding: 80px 0;
}

.title {
  display: inline-block;
  position: relative;
  font-size: 48px;
  line-height: 130%;
  margin-bottom: 60px;
  color: #be6040;
}

.title::before {
  position: absolute;
  content: "";
  top: 43px;
  left: 3px;
  width: calc(100% - 6px);
  height: 15px;
  background-color: rgba(149, 95, 56, 0.2);
  z-index: 2;
}

.subtitle {
  display: block;
margin-top: 30px;
  font-weight: 600;
  font-size: 26px;
  line-height: 130%;
  margin-bottom: 20px;
  color: #994f37;
}

.link{

}

.link:focus {
  box-shadow: 0px 0px 0px 2px rgb(109, 34, 18, 0.5);
  border-radius: 3px;
}

.link:hover {
  text-decoration-line: underline;
}

.link:active {
  box-shadow: none;
  text-decoration-line: none;
  opacity: 0.7;
}


.header {
  position: relative;
  height: 100vh;
  background-color: #f8ecd7;
}


.header__top {
  height: 100px;
  line-height: 100px;
  color: #6d2212;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.menu__item:not(:last-child) {
  margin-right: 35px;
}

.menu__link {
  font-weight: 600;
  line-height: 130%;
  box-shadow: none;
}

.header__content {
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
}

.header__content::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-image: url(../images/house.png);
  background-repeat: no-repeat;
  background-size: 35%;
  background-position: right;
  opacity: 0.4;
  z-index: 0;
}

.header__content:hover::before {
  opacity: 0.9;
}


.header__title {
  margin-top: auto;
  margin-bottom: auto;
  font-weight: normal;
  max-width: 640px;
  font-size: 48px;
  line-height: 130%;
  color: #6d2212;
}

.header__subtitle {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 90px;
  line-height: 122px;
}

.management {}

.documents {
  background-color: #f8ecd7;
}

.documents__link{
  font-size: smaller;
  color: #6d2212;
}

.news {}

.about {
  background-color: #f8ecd7;
}

.about__text p:not(:last-child) {
  padding-bottom: 30px;
}

.problems__list {
  margin-left: 40px;
}

.problems__item {
  position: relative;
}



.problems__item::after {
  position: absolute;
  content: "";
  top: 7px;
  left: -30px;
  width: 15px;
  height: 15px;
  background-size: 100%;
}

.problems__item--todo::after {
  background-image: url(../images/unchecked.png);
}


.problems__item--solved::after {
  background-image: url(../images/checkbox.png);
}

.gallery {
  background-color: #f8ecd7;
}


.gallery__list {
  display: flex;
  columns: 2;
  flex-wrap: wrap;
  margin-right: -45px;
  margin-top: -45px;
  margin-bottom: 60px;
}

.gallery__item {
  max-width: 33.3333%;
  margin-right: 45px;
  margin-top: 45px;
}

.contacts {
  min-height: calc(100vh - 60px);
}

.contacts__text {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 800px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}

.contacts__text p:not(:last-child) {
  padding-bottom: 15px;
}

.contacts__label {
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 130%;
}

.contacts__tel {
  color: #2352DE;
}

.contacts__mail {
  color: #2352DE;
}

.tel-mail:focus {
  display: inline-block;
  background: rgba(255, 255, 255, 0.0001);
  box-shadow: 0px 0px 0px 2px rgba(35, 82, 222, 0.5);
  border-radius: 3px;
}

.tel-mail:hover {
  text-decoration-line: underline;
}

.tel-mail:active {
  color: rgba(35, 82, 222, 0.7);
}

.footer {
  height: 60px;
  background-color: #7a3220;
  opacity: 0.7;
}

.footer__content {
  text-align: center;
  line-height: 60px;
  color: #ffffff;
}